.game-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  gap: 0.5rem;
  margin-block-end: 2rem;
}

.game-status--primary {
  font-size: 2rem;
}

.game-status--secondary {
  font-size: 1.5rem;
  opacity: 0;

  &.animate {
    animation: fade-in 0.4s ease-in-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
