.ship-container {
  width: max-content;
  border: 1px solid black;
}

.ship-draggable {
  display: grid;
  width: max-content;

  position: absolute;
  z-index: 2;
  user-select: none;
}

.ship-draggable-display {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  height: 100%;
  width: 100%;
  z-index: -2;
  background-color: var(--ship-bg);
  border: 1px solid var(--ship-border);
  container-type: size;
}

.game-area[data-mode="game"] .ship-draggable {
  display: none;
}

.game-area[data-mode="game"] .ship-draggable.show {
  display: grid;
}

.horizontal .ship-draggable-display span {
  font-size: 10cqw;
}

.vertical .ship-draggable-display span {
  writing-mode: sideways-lr;
  font-size: 10cqh;
}

[data-mode="placement"] .btn-ship-rotate.show {
  display: block;
}

.ship-cell {
  aspect-ratio: 1/1;
  container-type: size;
}

.btn-ship-rotate {
  display: none;
  position: absolute;
  width: 65cqw;
  border: none;
  background-color: transparent;
  top: 5cqw;
  left: 5cqw;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: var(--btn-primary);
    transition: fill 0.1s ease-in-out;
  }

  &:hover {
    svg {
      fill: var(--btn-primary-hover);
    }
    background-color: transparent;
  }
}

.ship-placement-bg {
  display: grid;
  width: max-content;
  position: relative;
  background-color: rgba(255, 255, 255, 0.116);
  z-index: -2;
}
